---
import Footer from "@astrojs/starlight/components/Footer.astro";
---

<Footer {...Astro.props} />

<div class="customFoots">
	<p>
		<a href="https://nia.or.kr">
			한국지능정보사회진흥원
		</a>
	</p>
</div>
