---
import BaseHead from "../components/CustomHead.astro";
const { frontmatter } = Astro.props;
---

<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<BaseHead />
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	:root[data-theme="dark"] body {
		background-size: cover;
		background-attachment: fixed;
		background: #08080d url("../assets/dark1.png") no-repeat right bottom;
	}
	:root[data-theme="light"] body {
		background-size: cover;
		background-attachment: fixed;
		background: url("../assets/light1.png") no-repeat right bottom;
	}
</style>
<script>
	console.log("Homepage layout loaded");
</script>
