---
import BaseHead from "../components/CustomHead.astro";
const { frontmatter } = Astro.props;
---

<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<BaseHead />
	</head>
	<body>
		<slot />
	</body><style>
		:root body {
			background-size: cover;
			background-attachment: fixed;
		}
		:root[data-theme="dark"] body {
			background: url("../assets/dark1.png") no-repeat right bottom;
		}
		:root[data-theme="light"] body {
			background: url("../assets/light1.png") no-repeat right bottom;
		}
	</style>
</html>
